* {
    main-bg:            #1A1B26e6;
    main-fg:            #D5D6DB;
    main-br:            #2AC3DE;
    main-ex:            #f5e0dcff;
    select-bg:          #B4F9F8ff;
    select-fg:          #16161Eff;
    separatorcolor:     transparent;
   /* border-color:       transparent;
   */
}